<!-- <div id="chatroom" class="mn">
    <div class="pad" *ngFor="let hero of heroes">
            <a routerLink="/select-chat/{{hero.id}}"  style="text-decoration: none;">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image" ></div>
                    <mat-card-title>{{hero.name}}</mat-card-title>
                    <mat-card-subtitle class="mrg" >{{hero.buisness}}</mat-card-subtitle>
                   
                </mat-card-header>
            </mat-card>
            </a>
    </div>
</div> -->
<div class="container">
    <div id="chatroom" class="mn">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia vitae illo reiciendis labore aut saepe eveniet assumenda ullam recusandae dolorum obcaecati quos temporibus illum natus voluptatibus, at odio, exercitationem culpa. -->

        <div class="pad">
                <!-- <a routerLink="/select-chat/{{hero.id}}"  style="text-decoration: none;"> -->
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image" ></div>
                        <mat-card-title>Kathan patel</mat-card-title>
                        <mat-card-subtitle class="mrg" >carpenter</mat-card-subtitle>
                       
                    </mat-card-header>
                </mat-card>
                <!-- </a>clear -->
        </div>
    </div>
</div>