<div class="container">
    <div class="row">
        <div class="row">
            <h2 style="text-align: center;">Overall progress</h2>
        </div>
        <div class="row">
            <mat-divider class="divide"></mat-divider>
        </div>
        <div class="row">
            <mat-progress-bar mode="determinate" value="40" style="height: 20px;" class="progress"></mat-progress-bar>
        </div>
    </div>
    
    <br><br>

    <div class="row">
        <h2 style="text-align: center;">Individual progress</h2>
    </div>

    <div class="row" style="padding: 1%;">
            <button mat-stroked-button color="primary"  routerLinkActive="active" (click)="OpenTrack()" class="button">
                Architect <mat-icon>info</mat-icon>
                <br>
                <mat-progress-bar  mode="determinate" value="30" class="progress"></mat-progress-bar >
            
            </button>
    </div>

    <div class="row" style="padding: 1%;">
        <button mat-stroked-button color="primary"  routerLinkActive="active" (click)="OpenTrack()" class="button">
            Architect <mat-icon>info</mat-icon>
            <br>
            <mat-progress-bar mode="determinate" value="30" class="progress"></mat-progress-bar>
        </button>
</div>

    
</div>