<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <div class="modal-dialog modal-lg" style="text-align: center;">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header" >
        <h4 class="modal-title" style="justify-content: center;" >Add Member</h4>
        
      </div>
      
      <!-- Modal body -->
      <div class="modal-body" >
          <input type="text" class="form-control" id="membername" placeholder="Enter  identity (i.e Painter)">
      </div>
      <div class="modal-body" >
        <input type="text" class="form-control" id="membername" placeholder="Enter Contact No./E-mail Address">
    </div>
      
      <!-- Modal footer -->
      <div class="modal-footer" style="justify-content: center;">
        <button type="button" class="btn btn-primary" data-dismiss="modal"  >Add</button>
      </div>
    

