<!-- <h2 mat-dialog-title>Architect</h2> -->
<!-- <mat-dialog-content class="mat-typography"> -->
<div class="row" style="padding:1%; ">
    <div class="row " style="text-align:center; background-color: #bbb ;margin: 1% 0 1% 0;  ">

        <h1 style="margin-top: 1%; "><span style="float: left;"> <button mat-stroked-button>
                    <mat-icon>arrow_back</mat-icon>
                </button></span>Profile </h1>
        <span style="float: right; text-align: right;"> ID:234556</span>


    </div>
    <div class="row" style="position: relative; margin-right: unset;
    margin-left: unset;">
        <div class="col-sm-4">
            <div class="container " style="text-align: center;">
                <div style="width:auto;float:left">
                    <img class="card-img-top" src="./assets/user.png" alt="Card image" style="width: 70px;">
                    <div class="card-body">
                        <h4 class="card-title">Kathan Patel</h4>
                        <a href="#" class="btn btn-primary ">Change Password</a>
                    </div>
                </div>
                <br>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label for="email">Project's Name:</label>
                <input type="text" class="form-control" id="email" placeholder="Enter your Project name" name="email">
            </div>
            <br>

            <div class="form-group">
                <label for="pwd"> First Name:</label>
                <input type="text" class="form-control" id="pwd" placeholder="First Name(Your Name)" name="pswd">
            </div>
            <br>
            <div class="form-group">
                <label for="pwd">Last Name:</label>
                <input type="text" class="form-control" id="pwd" placeholder="Last Name(Surname)" name="l_name">
            </div>
            <br>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label for="pwd"> E-mail:</label>
                <input type="email" class="form-control" id="pwd" placeholder="Enter your E-mail address" name="pswd">
            </div>
            <br>
            <div class="form-group">
                <label for="pwd">Contact No:</label>
                <input type="tel" class="form-control" id="pwd" placeholder="Contact number" name="l_name">
            </div>

            <br>
        </div>
    </div>

    <div class="row" style="margin-right: unset;
    margin-left: unset;">
        <hr class="solid" style=" border-top: 3px solid #bbb;">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="row " style="text-align: center;">
                    <h3>Residential Address</h3>
                </div>
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="form-group">
                <label for="inputAddress2">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Pincode</label>
                    <input type="text" maxlength="6" class="form-control" id="inputZip">
                </div>
            </div>
        </div>
        <div class="col-sm-6">


            <div class="form-group">
                <div class="row " style="text-align: center;">
                    <h3>Construction Site Address</h3>
                </div>
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="form-group">
                <label for="inputAddress2">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Pincode</label>
                    <input type="text" maxlength="6" class="form-control" id="inputZip">
                </div>
            </div>
        </div>

    </div>

    <!-- </mat-dialog-content> -->
    <!-- <mat-dialog-actions > -->

    <button mat-raised-button mat-dialog-close>Close</button>

    <!-- </mat-dialog-actions> -->
