h2 {
  text-align: center;
}

.mat-typography {
  padding-top: 10%;
}

/* mat-dialog-actions{
  position: fixed;
  bottom: 100px;
  right: 100px;
} */
button {
  justify-content: center;
  width: 100px;
  /* margin-left: 500px; */
  margin-top: 20px;
  background: #bbb;
  /* position: absolute !important;
  bottom: 15px !important;
  right: 15px !important; */

}